<!DOCTYPE HTML>
<html>
<head>
	<title>Torch Tech</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
	<style>
	    .navbar-toggler {
	        z-index: 1;
	    }
	    
	    @media (max-width: 576px) {
	        nav > .container {
	            width: 100%;
	        }
	    }
	    </style>
</head>
<body id="page-top">
	<!-- Nav -->
	<nav class="navbar" id="mainNav">
		<div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#profile">Profile</a>
                </li>
            </ul>
        </div> 
	</nav> 

<!-- Banner -->
	<section id="about">
        <div class="container">
            <div class="row center-block">
                <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-xl-8 col-xl-offset-2">
	                <h1 class="section-heading text-center" style="text-transform: initial;">input the feilds for some one to walk you home safe</h1>
	            </div>
	        </div>
	        <div class="row">
	           	<div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-xl-6 col-xl-offset-3 multichoice">
	                <br>
	             	<div class="form-group">
  					<label for="comment">start location:</label>
  					<textarea class="form-control" rows="1" id="comment"></textarea>
					</div> 
					<div class="form-group">
  					<label for="comment">end location:</label>
  					<textarea class="form-control" rows="1" id="comment"></textarea>
					</div>





					<br>
					<a href="{{ url_for('safe_submit_btn') }}" class="btn-xl btn btn-default center-block" style="margin:auto;display:block;">done</a>
                </div>

            </div>
		</div>
	</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>